.form-label-elegant {
  color: $p400-grey;
  font-weight: 300;
  border-bottom: 2px solid $p100-grey;

  a {
    color: $p400-grey;

    &:hover,
    &:focus,
    &:active {
      color: $body-color;
      text-decoration: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .col-form-label {
    .form-label-elegant {
      float: right;
      text-align: right;
    }
  }
}

.form-control-plaintext {
  @include remove-last-child-bottom-margin;
}

.form-control-inline {
  border-radius: 0.25rem;
  line-height: 1.25;
  padding: 0 .25rem;

  &:focus {
    box-shadow: 0 0 0 3px rgba($brand-primary, 0.5);
    color: $gray-700;
    background-color: $brand-white;
    border-color: lighten($brand-primary, 25%);;
    outline: none;
  }

  &:disabled,
  [readonly] {
    background-color: $gray-200;
    opacity: 1;
  }
}
