= form_for @entry, html: { class: 'form-horizontal' } do |f|
  = render 'entries/inner_form', f: f

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @entry.new_record? ? entries_path : @entry, class: 'btn btn-default'
