- @month_entries = current_user.entries.with_date_for_calendar(@start_month, @end_month)

- gross_spending = @month_entries.select{|e| e.charge_type.counts_towards_spending?}.collect{|e| e.amount}.sum
- gross_income = @month_entries.select{|e| not e.charge_type.counts_towards_spending?}.collect{|e| e.amount}.sum
- net_profit = gross_income - gross_spending

%div.text-shadow{ style: 'float: right;text-align: right;margin-top: -120px;' }
  %b Gross Income
  = gross_income.to_currency
  %br
  %b Spending
  = gross_spending.to_currency
  %br
  %b
    Net
    - if net_profit < 0
      %span.loss Loss
    - else
      %span.gain Profit
  %span{ class: "#{(net_profit < 0) ? 'loss' : ''}#{(net_profit > 0) ? 'gain' : ''}" }= net_profit.to_currency

