- @month_entries = current_user.entries.with_date_for_calendar(@start_month, @end_month)

- gross_spending = @month_entries.select{|e| e.charge_type.counts_towards_spending?}.collect{|e| e.amount}.sum
- gross_income = @month_entries.select{|e| not e.charge_type.counts_towards_spending?}.collect{|e| e.amount}.sum
- net_profit = gross_income - gross_spending

.row.mb-3
  .col
    Gross Income
    %strong= gross_income.to_currency
  .col.text-center
    Spending
    %strong= gross_spending.to_currency
  .col.text-right
    Net
    - if net_profit.negative?
      Loss
    - else
      Profit
    %strong{ class: "#{(net_profit.negative?) ? "loss" : nil}#{(net_profit > 0) ? "gain" : nil}" }= net_profit.to_currency

