- @title = "Statistics"

- url = statistics_graph_entries_path

- content_for :header do
  #year-selection= render "entries/overview_year_selection", current_year: @current_year, url: url
  = @title

#statistics-search= render "entries/statistics_search", current_year: @current_year, url: url

= form_with url: statistics_graph_entries_path(search: params[:search], year: @current_year), data: { object: "form-load" } do
  #statistics_chart{ style: "height: 450px; margin-bottom: 50px;", data: { object: "chart-container", chart: "" } }
