- @title = 'Backup'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading= @title

.text-center
  = link_to 'Generate a New Data Backup', generate_backup_path, method: :post, class: 'btn btn-lg btn-primary'
