- @title = 'Templates'
.page-header
  %h1
    = link_to 'Backup', backup_path

.jumbotron
  %p.lead.center{ style: 'margin: 0' }
    Your data backup
    = succeed '.' do
      %span.label.label-success succeeded

