- @title = 'Backup Failed'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading= @title

.jumbotron
  %p.lead.center{ style: 'margin: 0' }
    Your data backup
    = succeed '.' do
      %span.label.label-danger failed
