- @title = "Backup Succeeded"

- content_for :header, @title

.jumbotron.jumbotron-custom-text
  = icon("fas", "check-circle", class: "text-success")
  Your data backup
  = succeed "." do
    %strong succeeded
