- @title = "Backup Failed"

- content_for :header, @title

.jumbotron.jumbotron-custom-text
  = icon("fas", "times-circle", class: "text-danger")
  Your data backup
  = succeed "." do
    %strong failed
