- @title = "Edit Template: #{@template.name_was}"

.page-header
  %h1
    = link_to 'Templates', templates_path
    &middot;
    = link_to @template.name_was, @template
    &middot;
    Edit

= render 'form'

