- @title =  "#{@template.name_was} Edit"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @template.name_was, @template
        Edit

.jumbotron.jumbotron-white.shadow
  = render 'form'
