-# General
%meta{ name: "description", content: "A home finance tracker using Ruby on Rails. Calendar views to see spending and overall charts to see monthly and yearly spending." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: "personal balance, budget tracking, multiple accounts, daily spending" }
