$notification-link-color: $p500-amber;

@keyframes pulse-notification {
  from {
    color: $notification-link-color;
  }

  to {
    color: $brand-white;
  }
}

.notifications-link-active i {
  animation: pulse-notification 2s ease-in infinite alternate;
  color: $notification-link-color;
}

.notifications-link-active:hover i {
  color: darken($notification-link-color, 15%);
}
