.btn {
  transition: all .25s ease-out;
}

.btn-shadow {
  box-shadow: 0 0 15px $standard-shadow-color;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: 0 0 8px $standard-shadow-hover-color;
  }
}

.btn-search-clear {
  background-color: $brand-white;
  border-bottom: 1px solid $gray-400;
  border-left: 0px solid transparent;
  border-right: 1px solid $gray-400;
  border-top: 1px solid $gray-400;
}
