.page-heading {
  font-weight: normal !important;
  position: relative;
  text-shadow: 0 2px 3px $standard-shadow-color;
  word-break: break-word;

  .btn,
  .dropdown-menu {
    text-shadow: none;
  }

  > a {
    color: $breadcrumb-link-color;
  }

  > a:hover {
    color: darken($breadcrumb-link-color, 10%);
  }
}

.header-container {
  background-color: $p500-blue;
  color: $brand-white;
  padding: 20px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    font-size: 30px;
  }
}

@include media-breakpoint-up(sm) {
  .header-container {
    h1 {
      font-size: 38px
    }
  }
}

@include media-breakpoint-up(md) {
  .header-container {
    h1 {
      font-size: 41px
    }
  }
}

.header-container-hide {
  h1 {
    visibility: hidden;
  }
}

.top-menu {
  position: sticky;
  top: 0;
  z-index: $zindex-fixed;

  .navbar-show-scrolled {
    display: none;
  }

  &.navbar-scrolled {
    @include media-breakpoint-down(md) {
      .display-small-scrolled {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      .menu-body {
        flex: initial;
        white-space: nowrap;
      }

      .display-small-scrolled {
        display: none;
      }
    }

    .display-lg-scrolled {
      display: none;
    }

    .navbar-hide-scrolled {
      display: none;
    }

    .navbar-show-scrolled {
      display: block;
      flex: 1 1 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
