.link-accent {
  color: $p500-purple;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: darken($p500-purple, 10%);
  }
}

.link-unstyled {
  color: $body-color;

  &:hover,
  &:focus,
  &:active {
    color: $body-color;
    text-decoration: none;
  }
}

.link-white {
  @include ignore-selection;

  color: $brand-white;

  &:hover,
  &:focus,
  &:active {
    color: $brand-white;
  }
}
