
// Other Month
.last-month .calendar-entry-heading, .next-month .calendar-entry-heading {
  background-color: #fbf8f2;
}

.last-month.calendar-entry-body-today, .next-month.calendar-entry-body-today {
  background-color: #f9e0c8;
}

.calendar-entry-body-today.last-month .calendar-entry-heading, .calendar-entry-body-today.next-month .calendar-entry-heading {
  background-color: #ffb475;
}

// Hover
.hover {
  background-color: #ccffcc;
}

.hover .calendar-entry-heading {
  background-color: $gain;
}

.text-shadow {
  .gain,
  .loss {
    text-shadow: 0 0 4px $brand-white !important;
  }
}
