
// Other Month
.last-month .calendar-entry-heading, .next-month .calendar-entry-heading {
  background-color: #FBF8F2;
}

.last-month.calendar-entry-body-today, .next-month.calendar-entry-body-today {
  background-color: #F9E0C8;
}

.calendar-entry-body-today.last-month .calendar-entry-heading, .calendar-entry-body-today.next-month .calendar-entry-heading {
  background-color: #FFB475;
}

// Hover
.hover {
  background-color: #CCFFCC;
}

.hover .calendar-entry-heading {
  background-color: #669966;
}

.calendar-entry-amount{
  width: 65px;
  text-align: right;
  float: left;
  margin-right: 5px;
}

.calendar-entry-name{
  overflow: hidden;
  white-space: nowrap;
}

.loss {
  color: #FF6666;
}

.gain {
  color: #669966;
}

.entry-box {
  background-color: white;
  padding: 3px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
}
