- @title =  "#{@charge_type.name_was} Edit"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @charge_type.name_was, @charge_type
        Edit

.jumbotron.jumbotron-white.shadow
  = render 'form'
