<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @accounts.total_count } %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Account Name</th>
      <th>Charge Types</th>
    </tr>
  </thead>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, account %></td>
      <td><%= account.charge_types.collect{|charge_type| link_to charge_type.name, charge_type}.join(', ').html_safe %></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @accounts, theme: "contour" %></center>
