<div class="frame">
  <table class="search"><tr><th>Account Name</th><th>Charge Types</th></tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, account %></td>
      <td><%= account.charge_types.collect{|charge_type| link_to charge_type.name, charge_type}.join(', ').html_safe %></td>
    </tr>
  <% end %>
  </table>
</div>
<center><%= paginate @accounts %></center>
