<table class="search"><tr><th>Account Name</th></tr>
<% @accounts.each do |account| %>
	<tr>
		<td><%= link_to account.name, account %></td>
	</tr>
<% end %>
</table>
<center><%= paginate @accounts %></center>