- @title =  "#{@account.name_was} Edit"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = link_to @account.name_was, @account
        Edit

.jumbotron.jumbotron-white.shadow
  = render 'form'
