- @title = "New Account"

- content_for :header, @title
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "accounts", accounts_path
    %li.breadcrumb-muted new
- content_for :sidebar, render("internal/sidebar_setup")

.dashboard-container= render "accounts/form", account: @account
